* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    background-color: lightskyblue;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.search {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputSearch {
    width: 80vw;
    padding-left: 2vw;
    height: 35px;
    outline: none;
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000;
    margin: auto;
}

.searchBtn {
    border: 0;
    background-color: transparent;
    margin-left: 78%;
    padding-right: 20px;
    position: absolute;
    cursor: pointer;
}

.content {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1575px) {
    .content {
        width: 80vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}
@media (max-width: 1183px) {
    .content {
        width: 80vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}
@media (max-width: 770px) {
    .content {
        width: 80vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
}

.filmCard {
    max-height: 500px;
    width: 300px;
    aspect-ratio: 2 / 3;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: gainsboro;
    text-align: center;
    margin: auto;
}

.filmCard img {
    width: 298px;
    height: 90%;
    border-radius: 15px 15px 0px 0px;
}

.filmCard .title {
    margin-top: 5px;
    margin-bottom: 15px;
}